/* Default */
body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	line-height: 1.5;
	letter-spacing: 0.05em;
	font-size: 16px;
	background-color: #303841;
	color: #d8dee9;
}
h1,h2,h3,p,ol,ul,li,a {
	font-family: sans-serif;
}
h1,h2,h3 {
	font-family: sans-serif;
	color: #EDEDED;
}
h2 {
	font-size: 1.3em;
}
a {
	font-weight: bold;
	color: #EDEDED;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
a:hover {
	color: #848b95;
}
code, pre {
	background-color: #22262a;
	color: #EDEDED;
	border-radius: 4px;
	padding: 0 0.25em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
img {
	width: 100%;
	height: auto;
}
section.main {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
p.copyright {
	margin: 0 auto;
	margin-bottom: 0.5em;
    text-align: center;
    color: #333333;
}

/* Breakpoint */
@media screen and (max-width: 700px) {
	section.main {
		margin: 5rem 2rem;
	}
}

product-cta demo-normal {
	box-sizing: border-box;
}


.sb-mybutton {
    display: inline-block;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: all .2s ease;
    transition: var(--mybuttonTransition);
	box-sizing: inherit;
	font-size: small;
	box-sizing: border-box;

}

.text-upper {
    text-transform: uppercase!important;
    letter-spacing: .1em!important;
    letter-spacing: var(--letterSpacingLoose)!important;
	text-decoration: none;
}

.text-bold {
    font-weight: 700!important;
}


.thumb___2T5wP {

	border-radius: 50%;
  }
  
  .thumb___2T5wP img {

	border-radius: 50%;
  }

  .floatLabel {
	background-color: #505050;
	padding: 1px 3px;
	border-radius: 5px;
	display: inline-block;
	font-family: ''Arial', sans-serif'; 
	color: #ffffff; 
	margin-bottom: .5px;

  }

  .menu-header {
	color: #333; 
	text-align: left;
	padding-left: 20px;
	font-size: 18px;
	font-family: 'Arial'; 
	margin-bottom: 10px;
  }
  
  .menu-subtext {
	text-align: left;
	font-size: 12px; 
	color: rgba(51, 51, 51, 0.7); 
	margin-top: 0;
	padding-left: 20px;
	font-family: 'Arial'; }

.photo-and-header {
    display: flex;
	align-items: center;
}



.photo {
    flex-shrink: 0;
    margin-right: 60px;
	padding-top: 0;
	padding-right: 40px;
	padding-left: 70px;
	padding-bottom: 2rem;
}

.header-and-subtext {
    margin: 0;
	padding-top: 100px;
	padding-left: 40px;
	
}

.promotion-molecule {
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
  }
  
  .subtext {
	text-align: center;
	color: #fff;
	max-width: 400px;
	padding: 20px;
	box-sizing: border-box;
	height: auto;
	margin: 0;
  }
  
  .sb-heading {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  .promo-header {
	font-size: 1.2em;
	margin-bottom: 10px;
	height: auto;
	margin: 0;
	padding-left: 4.2rem;
  }

  .order-now {
	align-items: center;
	padding-left: 9rem;
  }